<h1>ジャンケンの結果</h1>

<table>
  <thead>
    <tr>
      <th>時間</th>
      <th>人間の手</th>
      <th>コンピュターの手</th>
      <th>判定</th>
    </tr>
  </thead>

  <tbody>
    <% @jyankens.each do |jyanken| %>
      <tr>
        <td><%= jyanken.created_at.to_s(:time)  %></td>
        <td><%= te_s(jyanken.human) %></td>
        <td><%= te_s(jyanken.computer) %></td>
        <td><%= judgment_s(jyanken.judgment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ジャンケン', new_jyanken_path %> |
<%= link_to '勝敗', status_jyankens_path %>